<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Bon Voyage</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link rel="icon" href="favicon.png">
</head>
<body>
  <nav>
    <h1>Bon Voyage!</h1>
    <a href="/">Home</a>
    <a href="/countries">Countries</a>
    <a href="/cities">Cities</a>
    <a href="/countries/visited">Visited Countries</a>
  </nav>

  <%= yield %>

</body>
</html>
