<form action="/countries/<%= @country.id  %>/update" method="post">
  <label for="country-field">Name:</label>
  <input type="text" name="name" id="country-field" placeholder="Enter country"/>

  <input type="submit" value="Edit country">

</form>
