<h3>List of countries:</h3>

<ul>
  <% for country in @countries %>
  <li>
  <p> <%= country.name %> </p>
    <p>
      <form action="/countries/<%= country.id %>/delete" method="post">
        <input class="btn btn--remove" type="submit" value="delete" />
      </form>
      <form action="/countries/<%= country.id %>/update" method="post">
        <input class="btn btn--add" type='submit' value="Edit">
      </form>
    </p>
  </li>
  <% end %>
</ul>
