<form action="/countries" method="post">
  <label>
    Select a country:
    <select name="country_id">
      <% for country in @coutries %>
      <option value="<%= country.id %>"><%= country.name %></option>
      <% end %>
    </select>
  </label>
</form>
