<h5>You have already been in these countries:</h5>
<form action="/countries" method="get">
  <ul>
    <% for country in @countries  %>
    <li>
      <p> <%= country.name  %></p>
    </li>
    <% end %>
  </ul>
</form>
