<h5>List of countries visited:</h5>
<form action="/countries" method="get">
  <ul>
    <% for country in @countries  %>
    <li>
      <p> Name: <%= country.name  %></p>
    </li>
    <% end %>
  </ul>
</form>
