<form action="/cities/<%= @city.id  %>/update" method="post">
  <label for="city-field">Name:</label>
  <input type="text" name="name" id="city-field" placeholder="Enter city"/>
  <input class="hide" type="text" name="country_id" value= <%=@city.country_id %> >

  <input class="button" type="submit" value="Add city">

</form>
