<div class="views-index">

  <%= erb(:"city/new") %>

  <h3>List of cities:</h3>

  <div class="flex-row">

    <% for city in @cities %>
      <div class="box-boder">
        <p> <%= city.name %> </p>
          <form action="/cities/<%= city.id %>/delete" method="post">
            <input class="btn btn--remove" type="submit" value="delete" />
          </form>
          <form action="/cities/<%= city.id %>/edit" method="get">
            <input class="btn btn--edit" type='submit' value="edit">
          </form>
      </div>
    <% end %>
  </div>
</div>
