<div class="views-index">

  <h3>These are your journeys:</h3>

  <a href="/journeys/new">Add a new journey</a>

  <div class="boder-info">

    <% @journeys.each do |journey|  %>
    <div class="box-boder">
      <p>Country: <%= journey.city().country().name()  %></p>
      <p>City: <%= journey.city().name() %></p>
    </div>
    <% end %>

  </div>

</div>
